@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <header class="primary_header">
        <h1 class="title">Dinosaurs</h1>
    </header>
    <div class="full_article">
        <h3>What Does "Dinosaur" Mean?</h3>
        <img src="~/images/dinopic.png" class="imgintextright" />
        <p>
            The word "dinosaur" was invented by the English biologist Sir Richard Owen.
            He first used the term "Dinosauria" in 1842, when he needed a word for a new group
            of animals that he had recently identified. It comes from two Greek words: "deinos", which means "terrible", and "sauros", which means "lizard", although strictly speaking, dinosaurs are not lizards!
        </p>

        <h3>What Is A Dinosaur?</h3>
        <p>Dinosaurs were a tremendously varied group of animals. Some were grazers, some were predators, some lived in herds, some had horns and some had armour, but despite all these differences, there were things that all dinosaurs had in common. They were all land animals who lived between 250 and 65 million years ago, from the early Triassic period to the end of the Cretaceous period.
        <p>
            Some dinosaurs were around for several periods, but most can be grouped according to the specific <a asp-area="" asp-page="/Periods">period during which they lived</a>.
        </p>

        <h3>Why Did Dinosaurs Become Extinct?</h3>
        <p>
            Dinosaurs became extinct about 65 million years ago. About 70% of all animal life on earth died out. Scientists call it a mass extinction – it wasn’t the first mass extinction in earth’s history and it probably won’t be the last! There are many different theories about why this happened but no humans were  around to actually see it. We will probably never know exactly what happened, which means that scientists will continue to disagree and come up with different dinosaur extinction theories.
        </p>

        <h3>Types of Dinosaurs</h3>
        <img src="~/images/threedinos.jpg" class="imgintextleft" />
        <p>
            Dinosaurs can be divided into different kinds - by name, species classification, by what they ate, by when they lived, or even by size. Scientists divide dinosaurs by types (which they call "classification"). These include the following:
        </p>
        <ul>
            <li>Ankylosauria</li>
            <li>Ceratopsia</li>
            <li>Ornithopoda</li>
            <li>Stegosauridae</li>
            <li>Theropoda</li>
        </ul>
        <p>If you want to see a list of dinosaurs, <a asp-area="" asp-page="/List">click here</a>.</p>
    </div>

    <footer>
        <div class="p-3 copyright">
            &copy; 2021 - Text and image from www.kidsdinos.com for .NET Web Development.
        </div>
    </footer>
</div>
