@page
@model Dinosaurs_Midterm_.Pages.PeriodsModel
@{
    ViewData["Title"] = "Periods";
}

<div class="container">
    <header class="primary_header">
        <h1 class="title">Dinosaurs</h1>
    </header>
    <div class="full_article">
        <h2>Dinosaur Periods</h2>
        <img src="~/images/dinotimeline.png" class="imgintextright" />
        <p>
            The Triassic, Jurassic, and Cretaceous periods were marked out by geologists to
            distinguish among various types of geologic strata (chalk, limestone, etc.)
            laid down tens of millions of years ago. Since dinosaur fossils are usually found
            embedded in rock, paleontologists associate dinosaurs with the geologic period
            in which they lived.
        </p>

        <h3>The Triassic Period</h3>
        <p>
            At the start of the Triassic period, 250 million years ago, the Earth was just recovering
            from the Permian/Triassic Extinction, which witnessed the demise of over two-thirds of all
            land-dwelling species and a whopping 95 percent of ocean-dwelling species. In terms of animal
            life, the Triassic was most notable for the diversification of archosaurs into pterosaurs,
            crocodiles, and the earliest dinosaurs, as well as the evolution of therapsids into the
            first true mammals.
        </p>

        <h3>The Jurassic Period</h3>
        <p>
            Thanks to the movie "Jurassic Park", people identify the Jurassic period, more than any other geological
            time span, with the age of dinosaurs. The Jurassic is when the first gigantic sauropod and theropod dinosaurs
            appeared on Earth, a far cry from their slender, man-sized ancestors of the preceding Triassic period. But
            the fact is that dinosaur diversity reached its peak in the ensuing Cretaceous period.
        </p>


        <h3>The Cretaceous Period</h3>
        <p>
            The Cretaceous period is when dinosaurs attained their maximum diversity, as ornithischian and 
            saurischian families branched off into a bewildering array of armored, raptor-clawed, thick-skulled,
            and/or long-toothed and long-tailed meat- and plant-eaters. The longest period of the Mesozoic Era,
            it was also during the Cretaceous that the Earth began to assume something resembling its modern form.
            At that time, though life (of course) was dominated not by mammals but by terrestrial, marine
            and avian reptiles.
        </p>
    </div>
    <footer>
        <div class="p-3 copyright">
            &copy; 2021 - Text and image from www.kidsdinos.com for .NET Web Development.
        </div>
    </footer>
</div>


