@page
@model Books2021.Pages.FavoriteBooksModel
@{
    ViewData["Title"] = "Favorite Books";
}

<h1 class="py-4">Favorite Books</h1>

<div>
    <img class="p-3" src="~/images/favorite/shoedog.jpg" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/sleep.jpg" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/goggins.jpg" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/malcolm.jpg" weight="200" height="400" />
</div>
<div>
    <img class="p-3" src="~/images/favorite/rules.png" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/unfair.jpg" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/elon.jfif" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/deus.jfif" weight="200" height="400" />
</div>
<div>
    <img class="p-3" src="~/images/favorite/sapiens.jfif" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/emyth.jfif" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/mlk.jfif" weight="200" height="400" />
    <img class="p-3" src="~/images/favorite/innovations.jpg" weight="200" height="400" />
</div>
