@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center py-4">
    <h1 class="display-4">A spectular year in books</h1>
</div>

<div>
    <h2 class="fs-2 py-2">Currently Reading:</h2>
    <img class="p-3" src="~/images/marcus.jpg" weight="200" height="400"/>
    <img class="p-3" src="~/images/origin.jpg" weight="200" height="400"/>
</div>
