@page
@model PrivacyModel
@{
    ViewData["Title"] = "Books";
}
<h1 class="py-4">@ViewData["Title"] I've read in 2021.</h1>

<div class="mx-auto" style="width: 1280px; display: block">
    <img class="p-3" src="~/images/letters.jfif" weight="200" height="400" />
    <img class="p-3" src="~/images/scienceblind.jpg" weight="200" height="400" />
    <img class="p-3" src="~/images/vaccines.jpg" weight="200" height="400" />
    <img class="p-3" src="~/images/mans.jfif" weight="200" height="400" />
</div>