@page
@model Books2021.Pages.TbrModel
@{
    ViewData["Title"] = "To be read";
}

<h1 class="py-4">To be read</h1>
<div>
    <img class="p-3" src="~/images/tbr/behave.jpg" weight="200" height="400" />
    <img class="p-3" src="~/images/tbr/ai.jfif" weight="200" height="400" />
    <img class="p-3" src="~/images/tbr/nations.jpg" weight="200" height="400" />
    <img class="p-3" src="~/images/tbr/paradox.jfif" weight="200" height="400" />
</div>